#include <windows.h>
#include <verrsrc.h>

#define VER_PRODUCTNAME_STR 		"Shapes-Generator\0"
#define VER_ORIGINALFILENAME_STR 	"Shapes-Generator\0"
#define VER_INTERNALNAME_STR 		"Shapes-Generator\0"
#define VER_FILEDESCRIPTION_STR 	"Console-based (CLI and TUI) 3D shape generator written in C++. It allows users to create and save a variety of 3D shapes.\0"
#define VER_COMPANYNAME_STR 		"Muppetsg2\0"

#define VER_FILEVERSION             2,0,0
#define VER_FILEVERSION_STR         "2.0.0\0"

#define VER_PRODUCTVERSION          2,0,0
#define VER_PRODUCTVERSION_STR      "2.0.0\0"

#define VER_ICONNAME "icon.ico"

IDI_ICON1 ICON VER_ICONNAME

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

END
